<div class="nav koneksa_bg_white">
    <div class="dropDown border_right_mid_light_gray pl pr left dp">
        <label for="selectProgram" class="koneksa_mid_gray">Program</label>
        <select id="selectProgram" class="koneksa_gray">
        </select>
    </div>
</div>
<div class="container"></div>

<div class="panel m koneksa_bg_white boxShadow summary">
    <h4 class="koneksa_blue p mbottom0">Program Overview</h4>
    <div class="p border_bottom_gray border_top_gray">
        <div class="fourthInput left">
            <label>TEMPLATE NAME</label>
        </div>
        <div class="fullHalfInput left">
            <label class="programCondition left capitalize"></label>
        </div>
    </div>
    <div class="formSpacer border_bottom_gray pt pb summaryMetrics">

    </div>
</div>

