<div class="nav koneksa_bg_white">
    <div class="dropDown border_right_mid_light_gray pl pr left dp">
        <label for="selectProgram" class="koneksa_mid_gray">Program</label>
        <select id="selectProgram" class="koneksa_gray">
            <option value="program1">Line Chart + Table</option>
            <option value="program2">Bar Chart + Map</option>
        </select>
    </div>
</div>
<div class="p panel koneksa_bg_white boxShadow mlrt graph">
</div>
<div class="panel koneksa_bg_white boxShadow mlrt other">
    <div class="participantList"></div>
    <!--<div class="map">-->
    <!--</div>-->
</div>
<!--<div class="p panel koneksa_bg_white boxShadow mlrt map">-->
    <!--&lt;!&ndash;<div class="map">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->