<div class="nav koneksa_bg_white">
    <div class="dropDown border_right_mid_light_gray pl pr left dp">
        <label for="selectProgram" class="koneksa_mid_gray">Program</label>
        <select id="selectProgram" class="koneksa_gray">
            <option value="program1">Line Chart + Table</option>
            <option value="program2">Bar Chart + Map</option>
        </select>
    </div>
    <!--<a class="button koneksa_bg_plum autoInput inlineButton koneksa_white centerText right createProgram">-->
        <!--Create Program-->
    <!--</a>-->
</div>
<divc class="clear"></divc>
<div class="panel koneksa_bg_white boxShadow mlrt">
    <!--<h4 class="koneksa_blue p mbottom0">Program Overview</h4>-->
    <div class="graph formSpacer border_bottom_gray border_top_gray">
        <!--<div class="fourthInput left">-->
            <!--&lt;!&ndash;<label>TEMPLATE NAME</label>&ndash;&gt;-->
            <!--<div class="linegraph"></div>-->
        <!--</div>-->
        <!--<div class="fullHalfInput left">-->
            <!--<label class="programCondition left capitalize"></label>-->
        <!--</div>-->
    </div>
</div>
<div class="clear"></div>
<div class="participantsDashboard">
    <div class="panel koneksa_bg_white boxShadow mlrt">
        <div class="insidePanel">
            <h4 class="left koneksa_blue halfInput">state insurance data
            </h4>
        </div>
        <div class="clear"></div>
        <div class="rowHeader capitalize border_top_gray koneksa_bg_light_gray">
            <div class="rowIcon left partIcon mtophalf"></div>
            <div class="rowHeadings mtophalf">
                <div class="span9col rowCellHeader left">State Name</div>
                <div class="span9col rowCellHeader left"></div>
                <div class="span9col rowCellHeader left">Insured</div>
                <div class="span9col rowCellHeader left"></div>
                <div class="span9col rowCellHeader left">Uninsured</div>
                <div class="span9col rowCellHeader left"></div>
                <div class="span9col rowCellHeader left">Total Population</div>
            </div>
            <div class="rowIcon left mtophalf"></div>
        </div>
        <div class="rowHeader koneksa_bg_light_gray">
            <div class="rowIcon left partIcon mbottomhalf"></div>
            <div class="rowUnits mbottomhalf"></div>
            <div class="rowIcon mbottomhalf left"></div>
        </div>
        <!--<div class="insidePanel mh50 loading">-->

        <!--</div>-->
        <!--<div class="insidePanel mh50">-->
        <!--</div>-->
        <div class="participantList">
        </div>
    </div>
</div>