<a href="" class="clientLogo border_bottom_dark_gray">
</a>
<!--<div class="orgSideMenu">
	<a class="sideMenuItem userMenu koneksa_white border_top_dark_gray">
		<i class="userMoniker">R</i><span class="userName">Coach Name</span><i class="fa fa-chevron-down right toggleUserMenu"></i>
	</a>
	<div class="userMenuDropDown koneksa_bg_dark_gray" style="display:none;">
		<div class="sideMenuItem koneksa_white border_bottom_dark_gray connectDevices pointer">
			<i class="fa fa-external-link-square fa-lg"></i>Connect Devices
		</div>
		<a href="/" class="sideMenuItem koneksa_white border_bottom_dark_gray accountSettings ">
			<i class="fa fa-cog fa-lg"></i>Settings
		</a>
		<a href="/logout" class="sideMenuItem koneksa_white pointer boxBottomShadow border_bottom_dark_gray">
			<i class="fa fa-sign-out fa-lg"></i>Logout
		</a>
	</div>
	<div class="mainMenu">
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_participants">
			<i class="fa fa-user fa-lg"></i>Participants
		</a>
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_forums">
			<i class="fa fa-comments fa-lg"></i>Forums
			&lt;!&ndash;<span class="badge-counter koneksa_bg_red koneksa_white right">0</span>&ndash;&gt;
		</a>
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_surveys">
			<i class="fa fa-file-text fa-lg"></i>Surveys
		</a>
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_programs">
			<i class="fa fa-bar-chart fa-lg"></i>Programs
		</a>
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_measurements">
			<i class="fa fa-table fa-lg"></i>Data points
		</a>
&lt;!&ndash;		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_messages">
			<i class="fa fa-flag fa-lg"></i>Notifications
			<span class="badge-counter koneksa_bg_red koneksa_white right"></span>
		</a>&ndash;&gt;
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_support">
			<i class="fa fa-info-circle fa-lg"></i>Help &amp; Support
		</a>
	</div>
</div>-->
<div class="indSideMenu">
	<a class="sideMenuItem userMenu koneksa_white border_top_dark_gray">
		<i class="userMoniker">R</i><span class="userName">Coach Name</span><i class="fa fa-chevron-down right toggleUserMenu"></i>
	</a>
	<div class="userMenuDropDown koneksa_bg_dark_gray" style="display:none;">
		<div class="sideMenuItem koneksa_white border_bottom_dark_gray connectDevices pointer">
			<i class="fa fa-external-link-square fa-lg"></i>Connect Devices
		</div>
		<a href="/" class="sideMenuItem koneksa_white border_bottom_dark_gray accountSettings ">
			<i class="fa fa-cog fa-lg"></i>Settings
		</a>
		<a href="/logout" class="sideMenuItem koneksa_white pointer boxBottomShadow border_bottom_dark_gray">
			<i class="fa fa-sign-out fa-lg"></i>Logout
		</a>
	</div>
	<div class="mainMenu">
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_programs">
			<i class="fa fa-pie-chart fa-lg"></i>Dashboard
		</a>
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_fooddiary">
			<i class="fa fa-cutlery fa-lg"></i>Food Diary
		</a>
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_forums">
			<i class="fa fa-comments fa-lg"></i>Forums
		</a>
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_surveys">
			<i class="fa fa-file-text fa-lg"></i>Surveys
		</a>
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_support">
			<i class="fa fa-info-circle fa-lg"></i>Help &amp; Support
		</a>
	</div>
</div>
