<a href="" class="clientLogo border_bottom_dark_gray">
</a>
<div class="indSideMenu">
	<a class="sideMenuItem userMenu koneksa_white border_top_dark_gray">
		<i class="userMoniker">H</i><span class="userName">Home</span><i class="fa fa-chevron-down right toggleUserMenu"></i>
	</a>
	<div class="userMenuDropDown koneksa_bg_dark_gray" style="display:none;">
		<div class="sideMenuItem koneksa_white border_bottom_dark_gray connectDevices pointer">
			<i class="fa fa-external-link-square fa-lg"></i>Sub Menu Option 1
		</div>
		<a href="/" class="sideMenuItem koneksa_white border_bottom_dark_gray accountSettings ">
			<i class="fa fa-cog fa-lg"></i>Sub Menu Option 2
		</a>
		<a href="/logout" class="sideMenuItem koneksa_white pointer boxBottomShadow border_bottom_dark_gray">
			<i class="fa fa-sign-out fa-lg"></i>Logout
		</a>
	</div>
	<div class="mainMenu">
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_programs">
			<i class="fa fa-pie-chart fa-lg"></i>Program 1
		</a>
		<a class="sideMenuItem koneksa_white border_bottom_dark_gray side_menu_fooddiary">
			<i class="fa fa-cutlery fa-lg"></i>Program 2
		</a>
	</div>
</div>
