<div class="insidePanel">
	<h4 class="left koneksa_blue halfInput">participant status
	</h4>
	<div class="right participantNav mtop0 koneksa_border_thin koneksa_border_light_gray">
		<span class="fa fa-chevron-left left pointer participantLeftScroll "></span>
		<span class="fa fa-chevron-right left pointer mleft2 participantRightScroll"></span>
		<span class="panelCaptionText right"></span>
	</div>
</div>
<div class="clear"></div>
<div class="rowHeader capitalize border_top_gray koneksa_bg_light_gray">
	<div class="rowIcon left partIcon mtophalf"></div>
	<div class="rowHeadings mtophalf"></div>
	<div class="rowIcon left mtophalf"></div>
</div>
<div class="rowHeader koneksa_bg_light_gray">
	<div class="rowIcon left partIcon mbottomhalf"></div>
	<div class="rowUnits mbottomhalf"></div>
	<div class="rowIcon mbottomhalf left"></div>
</div>
<div class="insidePanel mh50 loading">

</div>
<div class="participantList">

</div>