<div class="panel koneksa_bg_white boxShadow mlrt">
    <div class="insidePanel">
        <h4 class="left koneksa_blue halfInput">state insurance data
        </h4>
    </div>
    <div class="rowHeader capitalize border_top_gray koneksa_bg_light_gray">
    <div class="rowIcon left partIcon mtophalf"></div>
    <div class="rowHeadings mtophalf"></div>
    <div class="rowIcon left mtophalf"></div></div>
    <div class="rowHeader koneksa_bg_light_gray">
    <div class="rowIcon left partIcon mbottomhalf"></div>
    <div class="rowUnits mbottomhalf"></div>
    <div class="rowIcon mbottomhalf left"></div>
    </div>
    <a class="rowIcon left partWarning icon_user_link" target="_blank"></a>
    <div class="rowData"></div>
</div>